name: build

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ENTRYPOINT: main.ts

    steps:
      - name: Setup repo
        uses: actions/checkout@v3

      - name: Setup Deno
        uses: denoland/setup-deno@61fe2df320078202e33d7d5ad347e7dcfa0e8f31  # v1.1.2
        with:
          deno-version: vx.x.x

      - name: Cache deps
        run: deno cache $ENTRYPOINT

      - name: Run type check
        run: |
          deno run --allow-read --allow-write --check build.ts --check-only
          deno check $ENTRYPOINT
